{% extends 'index.html' %}
{% block content %}
    <meta id="login_id" data-name="{{user_info.id}}">

    <script>
        $(document).ready(function () {
                let cnt = 0;
                for (; cnt < 6; cnt++) {
                    showReview(cnt)
                }
                $(document).scroll(function () {
                    let maxHeight = $(document).height();
                    let currentScroll = $(window).scrollTop() + $(window).height();
                    if (maxHeight <= currentScroll + 100) {
                        showReview(cnt)
                        cnt++;
                    }
                })
            }
        )

    </script>
    <body>
    <p style="display: none" id="title">{{ title }}</p>
    <h2 class="align-center font2"><img src="{{ img_url }}" style="height: 200px;height: 200px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}
        리뷰</h2>
    {% if user_info %}
        <button type="button" class="btn btn-secondary btn-sm font2" style="font-size: 20px" onclick="openClose()">리뷰작성
        </button>
    {% endif %}
    <br>
    {#    인풋박스 로그인시 나타남#}
    <div class="row g-3 board_wrap" id="post-box" style="display: none">
        <div class="col-md-6">
            <label for="user_id" class="form-label">아이디</label>
            <input type="text" class="form-control" id="user_id" style="width: 200px" value="{{ user_info.id }}"readonly>
        </div>
        <div class="col-md-6">
            <label for="rating" class="form-label">평점</label>
            <input type="number" class="form-control" id="rating" min="1" max="5" value="5" style="width: 50px">
        </div>
        <div class="col-12">
            <label for="review" class="form-label">리뷰</label>
            <textarea class="form-control" id="review" rows="3"> </textarea>
        </div>
        <br>
        <div style="display: block" class="align-right">
            <button type="button" class="btn btn-secondary font2" style="font-size: 20px;" onclick="writeReview()">제출
            </button>
        </div>
    </div><br>

    <div id="add_review">

    </div>
{% endblock %}
