{% extends 'index.html' %}
{% block content %}
    <div class="align-center">
        <img src="../static/study%20starter.png">
        <h2 class="font3">코딩입문을 위한 강의리뷰<img src="../static/rtan.png" style="width: 50px;height: 50px"></h2>
    </div>
    <p class="btn-group align-center" style="display: block" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-dark" onclick="online()">스파르타 온라인 강의</button>
  <button type="button" class="btn btn-outline-dark" onclick="offline()">오프라인 코딩 학원</button>

</p>
    {# flash 메세지 전달 받으면 alert 띄우기 #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}")
            </script>
        {% endif %}
    {% endwith %}
    <script>

        $(document).ready(function () {
                let cnt = 0;
                for (; cnt < 6; cnt++) {
                    showClass(cnt)
                }
                $(document).scroll(function () {
                    let maxHeight = $(document).height();
                    let currentScroll = $(window).scrollTop() + $(window).height();
                    let title = $('#title').text()
                    if (maxHeight <= currentScroll + 100) {
                        showClass(cnt)
                        cnt++;
                    }
                })
            }
        )
    </script>
    {#    강의 담는 리스트#}
    <div style="max-width: 540px; display: block" class="align-center wrapper" id="class-box">

    </div>
    <div style="max-width: 540px;display: none" class="align-center wrapper" id="academy">

    </div>

{% endblock %}